<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.selection.mapper.SelectionMapper">


    <insert id="insertSelection"
            parameterType="com.douzone.surveymanagement.selection.dto.reqeust.SelectionCreateDto">
        INSERT INTO selection (
            `survey_question_no`,
            `survey_question_move_no`,
            `selection_value`,
            `is_movable`
        )
        VALUES (
                   #{surveyQuestionNo},
                    <choose>
                        <when test="surveyQuestionMoveNo == 0">
                            NULL
                        </when>
                        <otherwise>
                            #{surveyQuestionMoveNo}
                        </otherwise>
                    </choose>,
                   #{selectionValue},
                   #{isMovable}
               );

    </insert>

    <insert id="insertSelectionList" parameterType="java.util.List">
        INSERT INTO selection (
        `survey_question_no`,
        `survey_question_move_no`,
        `selection_value`,
        `is_movable`,
        `is_end_of_survey`
        )
        VALUES
        <foreach collection="selectionCreateDtoList" item="item" separator=",">
            (
            #{surveyQuestionNo},
            <choose>
                <when test="item.surveyQuestionMoveNo == 0">
                    NULL
                </when>
                <otherwise>
                    #{item.surveyQuestionMoveNo}
                </otherwise>
            </choose>,
            #{item.selectionValue},
            #{item.isMovable},
            #{item.isEndOfSurvey}
            )
        </foreach>
    </insert>

</mapper>
