<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.statistics.mapper.SelectMapper">
    <resultMap id="SelectDto" type="com.douzone.surveymanagement.statistics.dto.SelectDto">
        <result property="surveyNo" column="survey_no"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="surveyPostAt" column="survey_post_at"/>
        <result property="surveyClosingAt" column="survey_closing_at"/>
        <result property="surveyQuestionNo" column="survey_question_no"/>
        <result property="surveyQuestionTitle" column="survey_question_title"/>
        <result property="questionTypeNo" column="question_type_no"/>
        <result property="selectionNo" column="selection_no"/>
        <result property="selectionValue" column="selection_value"/>
        <result property="selectionCount" column="selection_count"/>
        <result property="surveySubjectiveAnswer" column="survey_subjective_answer"/>
    </resultMap>

    <select id="findSelection" resultMap="SelectDto">
        SELECT s.survey_no,
               s.survey_title,
               u.user_nickname,
               s.survey_post_at,
               s.survey_closing_at,
               sq.survey_question_no,
               sq.survey_question_title,
               sq.question_type_no,
               sas.selection_no,
               se.selection_value,
               COUNT(se.selection_no) AS selection_count,
               sa.survey_subjective_answer
        FROM survey AS s
                 LEFT JOIN user u ON s.user_no = u.user_no
                 LEFT JOIN survey_question sq
                           ON s.survey_no = sq.survey_no
                 left JOIN survey_answer sa
                           ON sq.survey_question_no = sa.survey_question_no
                 LEFT JOIN (
            SELECT * FROM survey_answer_selection
        ) AS sas ON sa.survey_answer_no = sas.survey_answer_no
                 left JOIN selection AS se
                           ON sas.selection_no = se.selection_no
        WHERE  s.survey_no = #{surveyNo}
        GROUP BY s.survey_no,sq.survey_question_title,sq.question_type_no,
                 sas.selection_no,sa.survey_subjective_answer,sq.survey_question_no;

    </select>

</mapper>